*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(220, 220, 220, 0.6), rgba(220, 220, 220, 0.6)), url(brick_wall.jpg);
    background-position: center;
    background-repeat: repeat;
}

#app {
    width: 60%;
    min-height: 100vh;
    background-color: rgba(253, 245, 230, 0.8);
    margin: 0 auto;
    padding: 3rem 0;
    box-shadow: 0 0 5em 4em rgba(0, 0, 0, 0.5);
}

.wall {
    width: 60%;
    margin: 0 auto 5em;
    position: relative;
}

.title {
    font-family: monospace;
    font-size: 6em;
    color: crimson;
    margin: 3rem;
    /* background-color: skyblue; */
}

.gross_field {
    position: relative;
}

.field,
.win {
    margin: 0 auto;
    background: lightcyan;
    border: 20px solid cadetblue;
    position: relative;
    box-sizing: content-box;
}

.win {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(70, 70, 70, 0.75);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.tile {
    background: #ffc;
    vertical-align: middle;
    font-weight: bold;
    color: #a90030;
    position: absolute;
    cursor: pointer;
    border: 1px solid #a90030;
    transition: top 0.1s, left 0.1s;
}

.features {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}

.play,
.shuffle {
    cursor: pointer;
}

.shuffle {
    background-color: lightcyan;
    color: cadetblue;
    font-family: monospace;
    font-weight: bold;
    border: 3px solid cadetblue;
    border-radius: 5px;
}

.shuffle:active {
    transform: scale(0.98);
}

.feature {
    width: 1em;
    height: 1em;
    display: inline-block;
    border: 2px solid cadetblue;
    border-radius: 50%;
    background-color: lightcyan;
    color: #ee0000;
    font-weight: bold;
    font-family: monospace;
    margin: 0 0.8em;
}

.play {
    background-image: url(music-2-64.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    position: relative;
    transform: rotateY(180deg);
    transition: transform 0.2s;
}

.moves {
    transform: rotateY(0);
    transition: transform 0.2s;
}

@media (max-width: 1400px) {
    #app {
        width: 100%;
        padding: 1em 0;
    }

    .title {
        font-size: calc(8vmin + 1em);
        margin: 0.4em;
    }

    .wall {
        width: 90vmin;
    }

    .feature {
        margin: 0 0.2em;
    }

    .wallpaper_link {
        font-size: 0.7em;
        bottom: 1em;
    }
}
