* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

h1 {
    font-family: monospace;
    font-size: 4rem;
    color: crimson;
    margin: 1rem;
}

.gross_field {
    position: relative;
}

.field,
.win {
    margin: 0 auto;
    background: lightcyan;
    border: 20px solid cadetblue;
    position: relative;
    box-sizing: content-box;
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(70, 70, 70, 0.75);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.tile {
    background: #ffc;
    vertical-align: middle;
    font-weight: bold;
    color: #a90030;
    position: absolute;
    cursor: pointer;
    border: 1px solid #a90030;
    transition: top 0.1s, left 0.1s;
    -webkit-transition: top 0.1s, left 0.1s;
    -moz-transition: top 0.1s, left 0.1s;
    -ms-transition: top 0.1s, left 0.1s;
    -o-transition: top 0.1s, left 0.1s;
}

.features {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-evenly;
    margin: 1rem;
}

.play,
.shuffle {
    cursor: pointer;
}

.shuffle {
    background-color: lightcyan;
    color: cadetblue;
    font-family: monospace;
    font-weight: bold;
    border: 3px solid cadetblue;
    border-radius: 5px;
}

.shuffle:active {
    transform: scale(0.98);
}

.feature {
    display: inline-block;
    border: 2px solid cadetblue;
    border-radius: 50%;
    background-color: lightcyan;
    color: #ee0000;
    font-weight: bold;
    font-family: monospace;
}

.play {
    background-image: url(music-2-64.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    position: relative;
    transform: rotateY(180deg);
    transition: transform 0.2s;
}
