body {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

h1 {
    font-family: cursive;
    font-size: 3rem;
    color: crimson;
}

.gross_field {
    position: relative;
}

.field,
.win {
    margin: 0 auto;
    background: lightcyan;
    border: 20px solid cadetblue;
    position: relative;
    box-sizing: content-box;
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(70, 70, 70, 0.75);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 525px;
}

.tile {
    background: #ffc;
    vertical-align: middle;
    font-weight: bold;
    color: brown;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid indianred;
}

.features {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-evenly;
    margin: 1rem;
}

.play,
.shuffle {
    cursor: pointer;
}

.shuffle {
    background-color: lightcyan;
    color: cadetblue;
    font-family: monospace;
    font-weight: bold;
    border: 3px solid cadetblue;
}

.shuffle:active {
    transform: scale(0.98);
}

.feature {
    display: inline-block;
    border: 2px solid cadetblue;
    border-radius: 50%;
    background-color: lightcyan;
    color: crimson;
    font-weight: bold;
    font-family: monospace;
}

.play {
    background-image: url(./music-2-64.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

